*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body{
   background-color: #EEEEEE;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   font-family: 'Open Sans';
   background: url(img-1.jpg) no-repeat center;
   background-size: cover;
}

.container{
   width: 100%;
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
}

.login-form{
   max-width: 700px;
   background: transparent;
   border-radius: 10px;
   padding: 40px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin: 0 auto;
   border: 1px solid #fff;
   backdrop-filter: blur(6px);
}

.login-form-title{
   width: 60%;
   line-height: 1.7;
   color: #6d4c41;
   font-size: 32px;
   font-weight: bold;
   text-align: center;
   position: relative;
   margin-top: 16px;
   margin-bottom: 48px;
   align-self: center;
   padding: 1rem .5rem;
   border: 2px dotted #fff;
   border-radius: 10px;
}

.border{
   position: absolute;
   background-color: #0ef24f;
   border: 1px solid #a6a6a0;
   width: 13px;
   height: 13px;
   padding: 0;
   border-radius: 50%;
}


.top{
   top: -6px;
   right: -7px; 
   animation: move-top 2.5s linear 100ms infinite;
}

.right{
   bottom: -7px;
   right: -4px;
   animation: move-right 2.5s linear 100ms infinite;
}

.left{
   top: -7px;
   left: -4px;
   animation: move-left 2.5s linear 100ms infinite;
}

.bottom{
   bottom: -6px;
   left: -7px;
   animation: move-bottom 2.5s linear 100ms infinite; 
}

.login-form-body{
   width: 100%;
   box-shadow: 0px 0px 12px 2px rgb(244, 233, 85) inset;
   border-radius: 10px;
   padding: 30px;
   margin-bottom: 8px;
   text-align: center;
}

input{
   width: 100%;
   height: 60px;
   margin-bottom: 20px;
   padding-left: 10px;
   border-radius: 5px;
   border: none;
   outline: none; 
   font-family: 'Open Sans'; 
   font-size: 18px;
   color: #4a4a4a;
   background-color: #d3d3cd00;
   border-bottom: 1px solid #b6b6ab;
}

input::placeholder{
   font-family: 'Open Sans';
   font-size: 18px;
   color: #eaeae5;
}

.submit-btn{
   background-color: #eb7042;
   color: #fff;
   font-size: 24px;
   font-weight: bolder;
   margin-top: 30px;
   cursor: pointer;
   transition: all 0.3S;
   padding-left: 0;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   border-top-left-radius: unset;
   border-top-right-radius: unset;
   border-bottom: none;
}

.submit-btn:hover{
  transform: translateY(5px);
}

@keyframes move-left{
   from{left: -5px;}
   to{left: 300px;}
} 

@keyframes move-top{
  from{top: -5px;}
  to{top: 62px;}
}

@keyframes move-right{
  from{right: -5px;}
  to{right: 300px;}
} 

@keyframes move-bottom{
  from{bottom: -5px;}
  to{bottom: 62px;}
} 

/* Responsive */

@media (max-width: 1400px){
   .container{
      width: 1370px;
   }
}

@media (max-width: 1200px){
   .container{
      width: 1140px;
   }
   .login-form{
      max-width: 650px;
   }
} 

@media screen and (max-width: 992px){
   .container{
      width: 960px;
   }
   .login-form{
      max-width: 600px;
   }
}

@media screen and (max-width: 768px){
   .container{
      width: 720px;
   }
   .login-form{
      max-width: 550px;
   }
   .login-form-title{
      font-size: 30px;
   }
   @keyframes move-left{
      from{left: -5px;}
      to{left: 270px;}
   } 
   @keyframes move-right{
      from{right: -5px;}
      to{right: 270px;}
   }
}

@media screen and (max-width: 576px){
   .container{
      width: 540px;
   }
   .login-form{
      padding: 35px 30px 30px;
   }
   .login-form-title{
      margin-top: 0px;
      margin-bottom: 30px;
      font-size: 28px;
   }
   .border{
      display: none;
   }
   .login-form-body{
      padding: 20px;
   }
   input::placeholder{
      font-size: 16px;
   }
   .submit-btn{
      font-size: 20px;
   }
   input:last-child{
      height: 53px;
   }
}

@media screen and (max-width: 350px){
   .login-form{
      padding: 30px 20px 15px;
   }
   .login-form-title{
      font-size: 25px;
   }
   input::placeholder{
      font-size: 14px;
   }
   .submit-btn{
      margin-top: 20px;
   }
}

@media screen and (max-width: 300px){
   input:last-child{
      height: 44px;
   }
   input::placeholder{
      font-size: 12px;
   }
   .submit-btn{
      font-size: 19px;
   }
}







